*{
    margin: auto;
    font-family:arial, sans-serif;
    padding: 0;
}
html {
   scroll-behavior: smooth;
}
.flex{
    display: flex;
}
.bg{
    background-color: lightseagreen;
    min-height: 34px;
    width: 100%;
}
.mgr{
    margin-right: 0.5rem;
    color: white;
}
.mgl{
    margin-left: 0.5rem;
    color: white;
}
.signin{
    background-color: red;
    border-radius: 20px;
    padding: 5px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
}
.signin:hover{
   background-color: #00613d;
}
.signin-a, .flex>a{
   color: white;
   text-decoration: none;
}
 .foot{
    text-decoration: none;
    color:darkturquoise;
 }
 .logo{
   padding-bottom: 15px;
   padding-top: 15px;
   width: 100%;
 }
 .div-img{
   width: 100px;
   margin-left: 80px;
 }
 .img{
   position: sticky;
   width: 100%;
   border-radius: 15px;
 }
 #menu ul{
   list-style-type: none;
   text-align: center;
 }
#menu ul li {
   display: inline-table;
   width: 150px;
   height: 40px;
   line-height: 40px;
   position: relative;
   margin-left: 10px;
}
#menu ul li a {
   text-decoration: none;
   display: block;
   color: #00613d;
   border-radius: 10px;
   font-size: large;
   white-space: nowrap;
}
#menu ul li a:hover {
   background-color: #00613d;
   color: #fb6400;
}
#menu ul li > .sub-menu {
   display: none;
   position: absolute;
   background-color: #fb6400;
}
#menu ul li:hover .sub-menu {
   display: block;
   border-radius: 10px;
}














.box { 
   width: 80%;
   padding: 8px;
   box-sizing: border-box;
   border-radius: 20px;
   padding-bottom: 24px;
}
.boxx {
   border: 1.5px solid #fb6400;
   height: 200px;
   border-radius: 20px;
   text-align: center;
   box-shadow: 5px 10px 15px 20px rgba(0, 0, 0, 0.2);
}
.boxx-padding20 {
   padding: 20px;
   font-weight: bolder;
   background-color: #fb6400;
   color: white;
   border-radius: 19px;
   text-align: center;
}
.boxx-table {
   display: flex;
   height: 100px;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
}
label {
   font-weight: bolder;
   color: #00613d;
   width: max-content;
}
.start {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   margin-left: 10px;
   width: 180px;
   display: inline-block;
}
.end {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   text-align: center;
}
.end:focus {
   border: 2px solid #00613d;
}
.date {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   cursor: pointer;
   display: block;
   text-align: center;
}

.date:focus {
   border: 2px solid #00613d;
}
.tickets {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   margin-right: 10px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   cursor: pointer;
}
.tickets:focus {
   border: 2px solid #00613d;
}
.search {
   display: block;
   box-sizing: border-box;
   line-height: 50px;
   border: 1px solid #fb6400;
   border-radius: 30px;
   width: 250px;
   height: 50px;
   font-size: large;
   color: white;
   background-color: darkcyan;
   cursor: pointer;
   margin: 0 auto;
   position: relative;
   z-index: 1;
   top: -50px;
}

.oder {
   display: block;
   box-sizing: border-box;
   line-height: 50px;
   border: 1px solid #fb6400;
   border-radius: 30px;
   width: 250px;
   height: 50px;
   color: white;
   background-color: #fb6400;
   cursor: pointer;
   margin: 0 auto;
   position: relative;
   top: 104px;
}
@-webkit-keyframes my {
   0% { color: #F8CD0A; } 
   50% { color: #fff;  } 
   100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
   0% { color: #F8CD0A;  } 
   50% { color: #fff;  }
   100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
   0% { color: #F8CD0A; } 
   50% { color: #fff; } 
   100% { color: #F8CD0A;  } 
}
@keyframes my { 
   0% { color: #F8CD0A;  } 
   50% { color: #fff;  }
   100% { color: #F8CD0A;  } 
} 
.oder, .search {
   font-size: larger;
   -webkit-animation: my 700ms infinite;
   -moz-animation: my 700ms infinite; 
   -o-animation: my 700ms infinite; 
   animation: my 700ms infinite;
}
.pad-bot{
   margin-bottom: 50px;
   width: 78%;
}
.route {
   width: 81%;
   box-sizing: border-box;
   border-radius: 30px;
   margin-bottom: 5px;
}
.name-route {
   color: white;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   background-color: darkcyan;
   text-align: center;
   font-size: larger;
   padding: 20px;
   border-bottom: 1px solid #fb6400 ;
}
.item {
   width: 100%;
   height: 350px;
   margin: 0;
   border-bottom-left-radius: 30px;
}
.info {
   font-size: 15px;
   margin-left: 20px;
   margin: 20px   ;
   color: #00613d ;
}
.border {
   border-bottom: 1px solid #fb6400;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-left: 1px solid #fb6400;
   border-right: 1px solid #fb6400;
}



































































































 .footer-hr{
   padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
 }
 .footer-div{
    width: 80%;
 }
 .footer-div-div1{
    padding-bottom: 15px ;
    width: 80%;
 }
 .footer-div-div1 > h3 {
    padding-bottom: 10px;
 }
 .footer-div-div1 > h1 {
    padding-bottom: 10px;
 }
 .footer-div-div1 > p {
    padding-bottom: 10px;
 }
 .footer-div-div2{
    width: 85%;
    text-align: center;
 }
 .footer-div-div2-div1,  .footer-div-div2-div3{
    padding-bottom: 15px;
 }
 .footer-div-div2-div2{
   background-color: orange;
    font-size: small;
    border-radius:10px;
 }
 .phone{
   margin: 0;
 }
 footer{
   background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(130, 253, 255, 0.916)),url(imgs/background.jpg);
 }
.totop {
   background-color: #fb6400;
   color: white;
   position: fixed;
   bottom: 16px;
   right: 32px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   text-decoration: none;
   opacity: 0;
   pointer-events: none;
   transition: all .4s;
}
.totop.active {
   bottom: 32px;
   pointer-events: auto;
   opacity: 1;
}

