*{
    margin: auto;
    font-family:arial, sans-serif;
    padding: 0;
}
.flex{
    display: flex;
}
.bg{
    background-color: lightseagreen;
    min-height: 34px;
    width: 100%;
}
.mgr{
    margin-right: 0.5rem;
    color: white;
}
.mgl{
    margin-left: 0.5rem;
    color: white;
}
.signin{
    background-color: red;
    border-radius: 20px;
    padding: 5px;
    min-width: 120px;
    text-align: center;
    text-transform: uppercase;
}
.signin:hover{
   background-color: #00613d;
}
.signin-a, .flex>a{
   color: white;
   text-decoration: none;
}
 .foot{
    text-decoration: none;
    color:darkturquoise;
 }
 .logo{
   padding-bottom: 15px;
   padding-top: 15px;
   width: 70%;
 }
 .div-img{
   width: 100px;
 }
 .img{
   width: 100%;
   border-radius: 15px;
 }
 #menu ul{
   list-style-type: none;
   text-align: center;
 }
#menu ul li {
   display: inline-table;
   width: 120px;
   height: 40px;
   line-height: 40px;
   position: relative;
}
#menu ul li a {
   text-decoration: none;
   display: block;
   color: #00613d;
   border-radius: 10px;
   font-size: large;
}
#menu ul li a:hover {
   background-color: #00613d;
   color: #fb6400;
}
#menu ul li > .sub-menu {
   display: none;
   position: absolute;
   background-color: #fb6400;
}
#menu ul li:hover .sub-menu {
   display: block;
   border-radius: 10px;
}










 
 .footer-hr{
    padding-bottom: 15px;
    width: 100%;
 }
 .footer-div{
    width: 80%;
 }
 .footer-div-div1{
    padding-bottom: 15px ;
    width: 80%;
 }
 .footer-div-div1 > h3 {
    padding-bottom: 10px;
 }
 .footer-div-div1 > h1 {
    padding-bottom: 10px;
 }
 .footer-div-div1 > p {
    padding-bottom: 10px;
 }
 .footer-div-div2{
    width: 82%;
    text-align: center;
 }
 .footer-div-div2-div1,  .footer-div-div2-div3{
    padding-bottom: 15px;
 }
 .footer-div-div2-div2{
   background-color: orange;
    font-size: small;
    border-radius:10px;
 }
 .phone{
   margin: 0;
 }
 footer{
   background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(130, 253, 255, 0.916)),url(imgs/background.jpg);
 }
